<table class="table">
    <thead>
        <th>Constructor</th>
        <th>Country</th>
        <th>Link</th>
    </thead>
    <tbody>
        {{#each constructors}}
        <tr>
            <td><a href="/constructors/{{ this.constructorId }}">{{ this.name }}</a></td>
            <td>{{ this.nationality }}</td>
            <td><a target="_blank" href="{{ this.url }}">Link</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
