<div class="container">
    <div class="row">
        <div id="main">
            <div class="header">
                <h1>Higher / Lower</h1>
            </div>

            {{> gameSidePtl this}}
        </div>
    </div>
</div>