<h1>Main</h1>

<div class="container">
    <div class="row">
        <div id="main">
            <div id="movie-a">
                <img src="{{movieA.image}}" alt="">
                {{movieA.name}}
            </div>
            <div id="movie-b">#
                <img src="{{movieB.image}}" alt="">
                {{movieB.name}}
            </div>
        </div>
    </div>
</div>