<div class="container">
    <div class="row">
        <div id="main">
            <div id="header">
                <h1>Higher / Lower</h1>
            </div>

            <div id="movie-a" >
                <img src="{{movieA.image}}" alt="">
                {{movieA.name}}
            </div>
            <div id="movie-b" >
                <img src="{{movieB.image}}" alt="">
                {{movieB.name}}
            </div>
        </div>
    </div>
</div>