<div class="container">
    <div class="row">
        <div id="main">
            <div class="header">
                <img class="logo" src="img/header.png" alt="logo">
                <h1>Which of the following movies had higher gross income?</h1>
            </div>
            {{> gameSidePtl this}}
        </div>
    </div>
</div>